@import "compass/css3/font-face";

// MD here stands for Material Design. Officially, Google just calls this font
// "Roboto", but it should be distinguished from the older Roboto that's available
// through the WebFonts.
@include font-face('Roboto Condensed MD', font-files('http://www.filipwieland.com/ipsum-redesign/fonts/RobotoCondensed-Bold.ttf'));

@include font-face('Roboto Light MD', font-files('http://www.filipwieland.com/ipsum-redesign/fonts/Roboto-Light.ttf'));
@include font-face('Roboto Regular MD', font-files('http://www.filipwieland.com/ipsum-redesign/fonts/Roboto-Regular.ttf'));

// Bootstrap variables
$font-family-sans-serif: 'Roboto Regular MD', Roboto, /* fallback if installed */
                         'Helvetica Neue', 'Ubuntu', sans-serif;

$headings-font-family: 'Roboto Light MD', $font-family-sans-serif;
$headings-font-weight: 100;

$font-size-base: 16px;

h5, h6 {
  font-family: 'Roboto Condensed MD', 'Roboto Condensed', $headings-font-family !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
}
