@font-face {
  font-family: "Roboto Condensed MD";
  src: url('/stylesheets/fonts/../../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Light MD";
  src: url('/stylesheets/fonts/../../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Regular MD";
  src: url('/stylesheets/fonts/../../fonts/Roboto-Regular.ttf') format('truetype');
}
